<div class="card ad-shadow-sm content">
    <div class="row vcentered">
        <div class="col c-6 order-md-2 img card-image"></div>

        <div class="col c-6 order-md-1">
            <div class="info card-padding ">
                <h1 class="title ad-prod-h1 big-title">
                    Todo listo
                </h1>
                <p class="ad-prod-body-1 mv-30">
                    Tu cuenta digital está activa, ya puedes comenzar a utilizarla.
                </p>
                <br>
                <div class="buttons">
                    <a href="" class="an-btn an-btn-m an-btn-filled-tertiary ad-prod-body-2">
                    Ingresar a mi nueva cuenta <an-icon name="login" [size]="'2x'"></an-icon>
                </a>
                </div>
            </div>
        </div>
        
    </div>

</div>
