<div class="card card-padding ad-shadow-sm content text-center">
    <h2 class="title ad-prod-h4">
        Proceso de identificación por video
    </h2>
    <p class="ad-prod-body-2 mv-30">
        Procederemos a capturar tu información mediante la captura de un documento ofical. <br> Para que el proceso concluya de forma exitosa, necesitarás tener lo siguiente:
    </p>

    <div class="cards mv-30">
        <div class="card ad-radius-xs outline outline-primary-20">
            <div class="icon">
                <an-icon name="wb-incandescent" [size]="'2.5x'"></an-icon>
            </div>
            <p class="ad-prod-body-2">
                Estar en un lugar bien iluminado.
            </p>
        </div>
        <div class="card ad-radius-xs outline outline-primary-20">
            <div class="icon">
                <an-icon name="videocam" [size]="'2.5x'"></an-icon>
            </div>
            <p class="ad-prod-body-2">
                Cámara web en tu dispositivo.
            </p>
        </div>
        <div class="card ad-radius-xs outline outline-primary-20">
            <div class="icon">
                <an-icon name="featured-video" [size]="'2.5x'"></an-icon>
            </div>
            <p class="ad-prod-body-2">
                Su documento original, válido y sin cubiertas.
            </p>
        </div>
        <div class="card ad-radius-xs outline outline-primary-20">
            <div class="icon">
                <an-icon name="wifi" [size]="'2.5x'"></an-icon>
            </div>
            <p class="ad-prod-body-2">
                Conexión Wi-Fi o cobertura máxima 4G.
            </p>
        </div>
    </div>

</div>
<div class="card card-padding ad-shadow-sm content text-center">
    <h2 class="title ad-prod-h4">
        Elige el documento con el que se te identificará
    </h2>
    <div class="input">
        <!-- <ad-form-field [appearance]="'standard'" [theme]="'tertiary'">
            <div adLabel class="ad-prod-caption text-primary-60">País</div>
            <select adInput class="ad-prod-body-2">
            <option value="MX" class="ad-prod-body-2" selected>México</option>
          </select>
        </ad-form-field> -->

        <p class="ad-prod-body-2 mv-30">Nacionalidad</p>

        <div class="flags">
            <div class="flag">
                <svg class="mex" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                  <circle class="white" style="" cx="256" cy="256" r="256"/>
                  <path class="red" style="" d="M512,256c0-101.494-59.065-189.19-144.696-230.598v461.195C452.935,445.19,512,357.494,512,256z"/>
                  <g>
                    <path class="green" d="M0,256c0,101.494,59.065,189.19,144.696,230.598V25.402C59.065,66.81,0,154.506,0,256z"/>
                    <path class="green" d="M189.217,256c0,36.883,29.9,66.783,66.783,66.783s66.783-29.9,66.783-66.783v-22.261H189.217V256z"
                      />
                  </g>
                  <path class="yellow" style="" d="M345.043,211.478h-66.783c0-12.294-9.967-22.261-22.261-22.261s-22.261,9.967-22.261,22.261h-66.783
                    c0,12.295,10.709,22.261,23.002,22.261h-0.741c0,12.295,9.966,22.261,22.261,22.261c0,12.295,9.966,22.261,22.261,22.261h44.522
                    c12.295,0,22.261-9.966,22.261-22.261c12.295,0,22.261-9.966,22.261-22.261h-0.742C334.335,233.739,345.043,223.773,345.043,211.478
                    z"/>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                </svg>
                <span class="ad-prod-body-2">
                  Mexicano
                </span>
            </div>
            <div class="flag">
                <svg class="world disable" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 511.999 511.999" style="enable-background:new 0 0 511.999 511.999;" xml:space="preserve">
                  <g>
                    <path class="continents" d="M441.374,79.519l-26.485,17.656l-44.141-8.828l-26.485-8.828l-35.313,8.828l-26.485-8.828
                      l17.656-35.313h35.313l34.607-17.303C396.73,40.101,420.875,57.916,441.374,79.519z"/>
                    <path class="continents" d="M238.325,44.206l-8.828,26.485l-26.485,8.828l-26.485,44.141l-44.141,26.485l-61.797,8.828v26.485
                      l17.656,17.656v35.313L61.762,220.77l-26.485-17.656l-15.361-46.171C46.356,93.935,96.898,44.126,160.284,18.604l25.072,16.774
                      L238.325,44.206z"/>
                    <polygon class="continents" points="255.982,291.395 247.154,335.536 211.841,370.849 211.841,397.334 176.528,423.818
                      176.528,467.959 150.044,459.131 132.387,414.99 132.387,326.708 88.246,317.88 70.59,282.567 70.59,256.082 88.246,238.426
                      114.731,211.941 132.387,247.254 194.184,247.254 220.669,291.395 	"/>
                    <path class="continents" d="M479.335,130.987c48.193,85.978,42.702,191.996-14.125,272.526l-23.836-23.836v-35.313
                      l-17.656-35.313l-17.656-35.313v-35.313l-26.485-17.656l-35.313,8.828l-61.797-26.485l-8.828-61.797l26.485-26.485h52.969
                      l17.656,26.485l52.969,8.828l52.969-17.656L479.335,130.987z"/>
                  </g>
                  <path class="water" d="M308.951,88.347l35.313-8.828l26.485,8.828l44.141,8.828l26.485-17.656
                    c14.787,15.476,27.544,32.77,37.961,51.468l-2.648,1.501l-52.969,17.656l-52.969-8.828l-17.656-26.485h-52.969l-26.485,26.485
                    l8.828,61.797l61.797,26.485l35.313-8.828l26.485,17.656v35.313l17.656,35.313l17.656,35.313v35.313l23.836,23.836
                    c-81.528,115.526-241.275,143.079-356.792,61.55C10.311,395.815-26.494,267.691,19.916,156.942l15.361,46.171l26.485,17.656
                    l26.485,17.656L70.59,256.082v26.485l17.656,35.313l44.141,8.828v88.282l17.656,44.141l26.485,8.828v-44.141l35.313-26.485v-26.485
                    l35.313-35.313l8.828-44.141h-35.313l-26.485-44.141h-61.797l-17.656-35.313l-26.485,26.485v-35.313L70.59,185.457v-26.485
                    l61.797-8.828l44.141-26.485l26.485-44.141l26.485-8.828l8.828-26.485l-52.969-8.828l-25.072-16.774
                    c67.889-27.341,144.235-24.322,209.758,8.299l-34.607,17.303h-35.313l-17.656,35.313L308.951,88.347z"/>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                </svg>
                <span class="ad-prod-body-2">
                  Extranjero
                </span>
            </div>
        </div>

        <ad-form-field [appearance]="'standard'" [theme]="'tertiary'">
            <div adLabel class="ad-prod-caption text-primary-60">Documento</div>
            <select adInput class="ad-prod-body-2">
            <option value="189" class="ad-prod-body-2">INE/IFE</option>
            <option value="120" class="ad-prod-body-2" disabled>Pasaporte</option>
            <option value="246" class="ad-prod-body-2" disabled>Permiso de residencia</option>
          </select>
        </ad-form-field>
    </div>

    <div class="buttons">
        <a href="/onboarding/documentation/start" class="an-btn an-btn-m an-btn-outline-tertiary back ad-prod-body-2">
            <an-icon name="chevron-left" [size]="'2x'"></an-icon> Regresar
        </a>
        <a href="/onboarding/documentation/video-id" class="an-btn an-btn-m an-btn-outline-tertiary back ad-prod-body-2">
            <an-icon name="chevron-right" [size]="'2x'"></an-icon> Continuar
        </a>
    </div>
</div>