<div class="card ad-shadow-sm">
    <div class="row vcentered">
        <div class="col c-6 order-md-2 card-image">
            <picture>
                <source media="(min-width:1140px)" srcset="assets/images/onboarding/welcome.png">
                <source media="(min-width:768px)" srcset="assets/images/onboarding/welcome-768.png">
               
                <img class="image-responsive" src="assets/images/onboarding/welcome.png" alt="welcome">
            </picture> 
        </div>

        <div class="col c-6 order-md-1">
            <section class="text-info">
                <div class="header">
                    <h1 class="ad-prod-h1 title big-title">¡Bienvenido!</h1>
                </div>
                <p class="ad-prod-body-1">
                    <b>Gracias por elegirnos como tu banco</b><br>
                    A continuación te llevaremos a través de nuestro proceso de Onboarding para recopilar tu información<br>
                </p>
                <div class="options">
                    <a class="an-btn an-btn-l an-btn-filled-tertiary ad-prod-body-1" href="/onboarding/documentation/start">Comenzar</a>
                </div>
            </section>
        </div>
    </div>
</div>