$rd-primary-90: #011C3F;
$rd-primary-80: #053471;
$rd-primary-70: #0653B7;
$rd-primary-60: #1678F8;
$rd-primary-50: #66A1FB;
$rd-primary-40: #A2C7FF;
$rd-primary-30: #D3E5FF;
$rd-primary-20: #EBF3FF;
$rd-primary-10: #F5F9FF;
$rd-secondary-90: #00334A;
$rd-secondary-80: #015771;
$rd-secondary-70: #007496;
$rd-secondary-60: #03A0CD;
$rd-secondary-50: #0AC5FA;
$rd-secondary-40: #6DDEFF;
$rd-secondary-30: #ACECFF;
$rd-secondary-20: #DBF7FF;
$rd-secondary-10: #F6FDFF;